{% extends 'base.html' %}
{% load static %}

{% block title %}Jogadores do Flamengo 2019{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock  %}

{% block header %}
    <header>
        <h1>Flamengo 2019</h1>
        <p>Paixão pelo futebol, dentro e fora de campo</p>
    </header>
{% endblock header %}

{% block content %}
<section>
    <h2>Títulos Conquistados</h2>
<ul class="titulos">
    {% for info in infos %}
        <li class="info-item">
            <div class="info-texto">
                <h3>{{ info.info }}</h3>
                {% if info.sobre|length > 100 %}
                    <p>{{ info.sobre|truncatewords:30 }}...</p>
                    
                {% else %}
                    <p>{{ info.sobre }}</p>
                {% endif %}
            </div>
        </li>
    {% empty %}
        <li>Nenhum título encontrado.</li>
    {% endfor %}

</section>
{% endblock %}
{% block footer %}
<footer>
    &copy; todos os direitos reservados - Igor Murilo e Artur Felipe 2025
</footer>
{% endblock %}
