{% load static %}  <!-- sempre carregue static no base.html -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Início - Flamengo 2019{% endblock %}</title>
 {% block head %}<link rel="stylesheet" href="{% static 'css/base.css' %}">{% endblock %}
</head>
<body>

    {% block header %}
        <h1>Flamengo 2019</h1>
        <p>Paixão pelo futebol, dentro e fora de campo</p>
    {% endblock  %}

    {% block nav %}
    <nav>
        <a href="{% url 'inicio' %}">Início</a>
        <a href="{% url 'jogadores' %}">Jogadores</a>
        <a href="{% url 'sobre' %}">Sobre</a>
    </nav>
    {% endblock %}

    <main>
        {% block content %}
        <h2>Bem-vindo ao nosso site</h2>
        <p>saiba um pouco sobre o time campeão da Libertadores 2019</p>
        {% endblock %}
    </main>

    {% block footer %}
    <footer>
        &copy; todos os direitos reservados - Igor Murilo e Artur Felipe 2025
    </footer>
    {% endblock %}

</body>
</html>
