{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock head %}

{% block nav %}
    <nav>
        <a href="{% url 'inicio' %}">Início</a>
        <a href="{% url 'jogadores' %}">Jogadores</a>
        <a href="{% url 'sobre' %}">Sobre</a>
    </nav>
{% endblock %}

{% block content %}
    <h2>Bem-vindo ao nosso site</h2>
    <p>Saiba um pouco sobre o time campeão da Libertadores 2019</p>
{% endblock %}

{% block footer %}
    <footer>
        &copy; Todos os direitos reservados - Igor Murilo e Artur Felipe 2025
    </footer>
{% endblock %}
