{% extends "base.html" %}%
{% load static %}

{% block title %}Jogadores do Flamengo 2019{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock  %}



{% block header %}
    <header>
        <h1>Flamengo 2019</h1>
        <p>Paixão pelo futebol, dentro e fora de campo</p>
    </header>
{% endblock header %}
 

 {% block content %}
        <h2>Elenco titular</h2>
        <p>saiba um pouco sobre o time campeão da Libertadores 2019</p>
    
    <ul class="jogadores-lista">
    {% for jogador in jogadores %}
        <img src="{% static jogador.foto %}"  class="jogador-foto">
        <div class="jogador-info"   >
            <li><strong> Nome:</strong> {{ jogador.nome }}</li><br>
            <li><strong> posição:</strong> {{ jogador.posicao }}</li><br>
            <li><strong> Idade:</strong> {{ jogador.idade }}</li><br 
            <li><strong> nascimento: </strong> {{ jogador.nascimento }}</li>
        </div>
    {% endfor %}
    </ul>
{% endblock %}
